.container {
    padding: 0;
    margin: 0;
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    height: 75vh;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.722);
    border-radius: 2vh;
    border: 1vw solid rgb(83, 83, 83);
    color: white;
    background-image: url('img/background.png'); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

h1 {
    font-family: 'Arial', sans-serif;
    margin-top: 0;
    font-size: 5vh;
    text-align: center;
    background-color: rgba(83, 83, 83, 0.5);
}

.container-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 100%;
    margin-left: 0.2vw;
    margin-bottom: 0.5vh;
    gap: 1vw;
    overflow-y: auto;
    overflow-x: hidden;

    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
}

.container-content::-webkit-scrollbar {
    background-color: rgb(0,0,0);
    border-radius: 2vh;
    width: 0.5vw;
}

.container-content::-webkit-scrollbar-thumb {
    background-color: rgb(166, 166, 166);
    border-radius: 1vh;
}

.rcontainer {
    height: 45vh;
    width: 17.5vw;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 1vh;
    border: 0.30vw solid rgb(83, 83, 83);
    overflow: hidden;
}

.rcontainer-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rcontainer-background {
    margin: 0;
    height: 45%;
    width: 100%;
    flex-shrink: 0;
    background-image: url('img/Conatiner.png');
    background-size: cover;
    background-position: center;
    border-radius: 1vh;
}

.rcontainer h2 {
    margin: 0;
    padding: 2vh 0.5vw;     
    font-size: 2.5vh;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
}
.rcontainer p {
    margin: 0;
    padding: 0.5vh 0.5vw; 
    font-size: 1.6vh;
    font-family: 'Arial', sans-serif;   
}

.rcontainer button {
    margin: 1vh 3.5vw;
    width: 10vw;
    padding: 1vh 0.5vw;    
    font-size: 2vh;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    background-color: rgb(83, 83, 83);
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.rcontainer button:hover {
    background-color: rgb(120, 120, 120);
    transform: scale(1.05);
}

.rcontainer button:active {
    background-color: rgb(150, 150, 150);
    transform: scale(0.95);
}

#xplevel {
    font-family: 'Arial', sans-serif;
    margin-top: 0;
    font-size: 3vh;
    position: absolute;
    top: 13.5vh;
    color: white;
}